<%- include("../partials/header", {title: "Posts Page"}) %>

<div class="container">
	<header class="jumbotron bg-dark text-light">
		<div class="container">
			<h1 class="special-font">
				Welcome to the right place, explorer.
			</h1>
			<p>
				Embrace the beauty of the wild, untouched nature. Don't forget to share your own discoveries.
			</p>
			<p>
				<a href="/posts/new" class="btn btn-lg btn-primary special-font">
					<i class="fas fa-plus"></i> Make new post
				</a>
			</p>
		</div>
	</header>
	
	<div class="row pb-5">
		<!-- looping through all posts -->
		<% posts.forEach((post) => { %>

			<div class="col-lg-3 col-md-6">
				<div class="card my-1 index-route-card">
					<img class="card-img-top" src="<%= post.image %>">
					<div class="card-body">
						<h4 class="card-title special-font"><%= post.name %></h4>
						<p class="card-text">
							<%= post.desc.substring(0, 100) + ((post.desc.length > 100) ? "..." : "") %>
						</p>
						<div class="d-flex justify-content-between align-items-center">
							<a class="btn btn-dark special-font" href="/posts/<%= post._id %>">
								Learn More
							</a>
							
							<!-- number of comments -->
							<span class="comments-amount">
								<i class="far fa-comment fa-flip-horizontal"></i>
								 <%= post.comments.length %>
							</span>
						</div>
					</div>
				</div>
			</div>

		<% }); %>	
	</div>
</div>

<% include ../partials/footer %>
